#LogIn{
	text-align: center;
	padding: 400px;
}
body{
	background-image: url('assets/img/pattern.png');
}
table{
	overflow: hidden;
   overflow-x:scroll;
   width: 736px;
   display:block;
}
#control{
	text-align: right;
}